.inventoryPage h1 {
    margin-left: 20px;
}

.inventoryTable {
    margin-left: 20px;
    margin-right: 20px;
}

.inventoryTable table {
    width: 100%;
    border-collapse: collapse;
}

.inventoryTable td, .inventoryTable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.inventoryTable tr:nth-child(even) {
    background-color: #dddddd;
}